body
{
	background-color: rgb(44, 44, 44);
	font-family: Verdana;
	font-size: 20px;
	color: white;
	text-align: center;
}


h1
{
		font-size: 48px;
		color: red !important;
		
}

/*nieodwiedzony link*/
a:link
{
	color: rgb(175, 175, 137);
}

/*odwiedzony link*/
a:visited
{
	color: yellow;
}

/*po najechaniu kursorem*/
a:hover
{
	color: black;
}
	
img
{
	display: block; 
	margin: 0 auto;
	/*position : absolute;
	top: 50%;
	left: 50%;*/
}	


